/** 项目通用 颜色 */
$gray-less: #eee;
$gray: #ddd;
$gray-more: #aaa;

$dark: #333;
$dark-little-less: #444;
$dark-less: #666;

$shade-up: #888;
$shade: #999;

$element-label-word-color: #606266;

$disabled-weaker-mask: rgba(255, 255, 255, 0.3);
$disabled-mask: rgba(255, 255, 255, 0.6);
$disabled-darker-mask: rgba(255, 255, 255, 0.9);
$disabled-gray-mask: rgba(233, 233, 233, 0.3);

$blue: #1890ff;
$green: #13ce66;
$yellow: #FFBA00;
$red: #ff4949;
$red-gray: #cb8490;
$orange: #ff8300;

$white: #fff;

$level-1-border: #DCDFE6;
$level-2-border: #E4E7ED;
$level-3-border: #EBEEF5;
$level-4-border: #F2F6FC;

$level-1-word: #303133;
$level-2-word: #606266;
$level-3-word: #909399;
$level-4-word: #C0C4CC;
